body, button, input {
    font-family: verdana, sans-serif;
}
body {
    background-color: rgb(227, 248, 255);
}
button {
    border-radius: 20px;
    margin-bottom: 5px;
    background-color:black;
    color: white;
    border: 3px solid rgb(151, 151, 151);
    transition: 0.2s;
    font-size: 15px;
}
button:hover {
    background-color: rgb(88, 88, 88);
    cursor: pointer;
    border: 3px solid black;
    transition: 0.2s;
}
input {
    margin-bottom: 6px;
    width: 125px;
    font-size: 15px;
}
h3 {
    background-color: black;
    color:white;
    margin: 7px;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
.menu {
    background-color: white;
    text-align: center;
    border: 2px solid white;
    width: 300px;  
    margin: auto;
    box-shadow: 7px 7px 6px 6px #888888;
}
